.form input{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-items: center;
  border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 1rem;
}
table th, table td, button {
  border: 1px solid black;
  text-align: center;
  padding: 2px 40px;
  font-size:medium;
  color: black;
}
table{
  border-collapse: collapse;
  margin-top: 20px;
   
}
.tableWrap {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
table thead,tbody tr:nth-child(even) {
  background-color: rgb(223, 224, 225);
}
table tbody tr:nth-child(odd){
  background-color: rgb(254, 254, 254);
}
input{
  padding: 5px;
  margin-right: 5px;
  width: 250px;
}
.form button{
  width:100px;
  padding: 5px;
  color:white;
  background-color: green;
}
.form button:hover{
  cursor: pointer;
  background-color:rgb(84, 84, 226);
}
.edit-btn{
  color:white;
  background-color: rgb(55, 55, 243);
  border-radius: 3px;
  margin-right: 5px;
  padding: 1px 5px;
}

.edit-btn:hover{
  background-color: rgb(24, 24, 96);
}
.dlt-btn{
  color: white;
  border-radius: 3px;
  padding: 1px 5px;
  background-color: rgb(248, 47, 47);
}
.dlt-btn:hover{
  background-color: rgb(193, 5, 5);
}
